body{
    font-family: 'Poppins', sans-serif;
}

.image{
    filter: brightness(35%);
}
.aa{
    text-decoration: none;
}
@media (max-width: 575.98px) { 
    .slider{
        width: auto;
       
    }
    .caption{
        font-size: auto;
    }
    .ca{
        width:max-content;
        display: flex;
        flex-direction: column;
        
        
        
    }
    .ready{
        display: block;
        flex-direction: column;
    }
    .trust{
        display: none;
    }
 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
    .trust{
        display: none;
    }
    .ready{
        display: block;
        flex-direction: column;
    }
  }
